In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import unicodedata
import os
from unidecode import unidecode

In [15]:
df_estudiants_perc_ratio_2022 = pd.read_csv('clean_data/2022/df_estudiants_perc_ratio.csv', delimiter=',')
df_estudiants_perc_ratio_2021 = pd.read_csv('clean_data/2021/df_estudiants_perc_ratio.csv', delimiter=',')

In [17]:
datasets = {
    'df_estudiants_perc_ratio_2022': df_estudiants_perc_ratio_2022,
    'df_estudiants_perc_ratio_2021': df_estudiants_perc_ratio_2021,
}

# Iterar sobre el diccionari per mostrar les primeres files de cada dataset
for name, df in datasets.items():
    print(f"Info Dataset {name}:")
    display(df.info()) 
    print("\n")

Info Dataset df_estudiants_perc_ratio_2022:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   codi                42 non-null     int64
 1   comarca             42 non-null     object
 2   poblacio_estudiant  42 non-null     int64
 3   total_poblacio      42 non-null     int64
 4   pct_estudiants      42 non-null     float64
 5   ratio_estudiants    42 non-null     float64
dtypes: float64(2), int64(3), object(1)
memory usage: 2.1+ KB

None

Info Dataset df_estudiants_perc_ratio_2021:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   codi                42 non-null     int64
 1   comarca             42 non-null     object
 2   poblacio_estudiant  42 non-null     int64
 3   total_poblacio      42 non-null     int64
 4   pct_estudiants      42 non-null     float64
 5   ratio_estudiants    42 non-null     float64
dtypes: float64(2), int64(3), object(1)
memory usage: 2.1+ KB

None

In [19]:
# Crear una llista de DataFrames amb els seus anys corresponents
datasets = [
    (df_estudiants_perc_ratio_2022, 2022),
    (df_estudiants_perc_ratio_2021, 2021),
]

# Afegir la columna 'any' i concatenar tots els DataFrames
df_estudiants_perc_ratio = pd.concat([df.assign(any=year) for df, year in datasets], ignore_index=True)

# Mostrar la informaciÃ³ final
df_estudiants_perc_ratio

,codi,comarca,poblacio_estudiant,total_poblacio,pct_estudiants,ratio_estudiants,any
0,1,alt camp,2090,45469,4.60,0.045965,2022
1,2,alt emporda,5896,143950,4.10,0.040959,2022
2,3,alt penedes,4900,110810,4.42,0.044220,2022
3,4,alt urgell,893,20458,4.37,0.043650,2022
4,5,alta ribagorca,195,3989,4.89,0.048884,2022
...,...,...,...,...,...,...,...
79,38,urgell,1727,37239,4.64,0.046376,2021
80,39,aran,436,10361,4.21,0.042081,2021
81,40,valles occidental,46379,937386,4.95,0.049477,2021
82,41,valles oriental,19704,415315,4.74,0.047444,2021
83,42,moianes,620,14219,4.36,0.043604,2021

In [21]:
df_estudiants_perc_ratio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   codi                84 non-null     int64
 1   comarca             84 non-null     object
 2   poblacio_estudiant  84 non-null     int64
 3   total_poblacio      84 non-null     int64
 4   pct_estudiants      84 non-null     float64
 5   ratio_estudiants    84 non-null     float64
 6   any                 84 non-null     int64
dtypes: float64(2), int64(4), object(1)
memory usage: 4.7+ KB

In [23]:
# Convertir la columna 'codi' a tipus string
df_estudiants_perc_ratio['codi'] = df_estudiants_perc_ratio['codi'].apply(lambda x: str(x).zfill(2))
display(df_estudiants_perc_ratio.head())
df_estudiants_perc_ratio.info()

,codi,comarca,poblacio_estudiant,total_poblacio,pct_estudiants,ratio_estudiants,any
0,01,alt camp,2090,45469,4.60,0.045965,2022
1,02,alt emporda,5896,143950,4.10,0.040959,2022
2,03,alt penedes,4900,110810,4.42,0.044220,2022
3,04,alt urgell,893,20458,4.37,0.043650,2022
4,05,alta ribagorca,195,3989,4.89,0.048884,2022

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   codi                84 non-null     object
 1   comarca             84 non-null     object
 2   poblacio_estudiant  84 non-null     int64
 3   total_poblacio      84 non-null     int64
 4   pct_estudiants      84 non-null     float64
 5   ratio_estudiants    84 non-null     float64
 6   any                 84 non-null     int64
dtypes: float64(2), int64(3), object(2)
memory usage: 4.7+ KB

In [25]:
df_estudiants_perc_ratio.to_csv('clean_data/df_estudiants_perc_ratio.csv', index=False)