In [15]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import unicodedata
import os
from unidecode import unidecode

In [17]:
df_poblacio_nacionalitat_2022 = pd.read_csv('clean_data/2022/df_poblacio_nacionalitat.csv', delimiter=',')
df_poblacio_nacionalitat_2021 = pd.read_csv('clean_data/2021/df_poblacio_nacionalitat.csv', delimiter=',') 
df_poblacio_nacionalitat_2020 = pd.read_csv('clean_data/2020/df_poblacio_nacionalitat.csv', delimiter=',') 
df_poblacio_nacionalitat_2019 = pd.read_csv('clean_data/2019/df_poblacio_nacionalitat.csv', delimiter=',') 
df_poblacio_nacionalitat_2018 = pd.read_csv('clean_data/2018/df_poblacio_nacionalitat.csv', delimiter=',')

In [19]:
datasets = {
    'df_poblacio_nacionalitat_2022': df_poblacio_nacionalitat_2022,
    'df_poblacio_nacionalitat_2021': df_poblacio_nacionalitat_2021,
    'df_poblacio_nacionalitat_2020': df_poblacio_nacionalitat_2020,
    'df_poblacio_nacionalitat_2019': df_poblacio_nacionalitat_2019,
    'df_poblacio_nacionalitat_2018': df_poblacio_nacionalitat_2018,
}

# Iterar sobre el diccionari per mostrar les primeres files de cada dataset
for name, df in datasets.items():
    print(f"Info Dataset {name}:")
    display(df.info()) 
    print("\n")

Info Dataset df_poblacio_nacionalitat_2022:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 24 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   codi                              42 non-null     int64
 1   comarca                           42 non-null     object
 2   espanyola                         42 non-null     int64
 3   resta_ue                          42 non-null     int64
 4   resta_d'europa                    42 non-null     int64
 5   africa                            42 non-null     int64
 6   america_del_nord_i_central        42 non-null     int64
 7   america_del_sud                   42 non-null     int64
 8   asia_i_oceania                    42 non-null     int64
 9   total                             42 non-null     int64
 10  espanyola_pct                     42 non-null     float64
 11  espanyola_ratio                   42 non-null     float64
 12  resta_ue_pct                      42 non-null     float64
 13  resta_ue_ratio                    42 non-null     float64
 14  resta_d'europa_pct                42 non-null     float64
 15  resta_d'europa_ratio              42 non-null     float64
 16  africa_pct                        42 non-null     float64
 17  africa_ratio                      42 non-null     float64
 18  america_del_nord_i_central_pct    42 non-null     float64
 19  america_del_nord_i_central_ratio  42 non-null     float64
 20  america_del_sud_pct               42 non-null     float64
 21  america_del_sud_ratio             42 non-null     float64
 22  asia_i_oceania_pct                42 non-null     float64
 23  asia_i_oceania_ratio              42 non-null     float64
dtypes: float64(14), int64(9), object(1)
memory usage: 8.0+ KB

None

Info Dataset df_poblacio_nacionalitat_2021:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 24 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   codi                              42 non-null     int64
 1   comarca                           42 non-null     object
 2   espanyola                         42 non-null     int64
 3   resta_ue                          42 non-null     int64
 4   resta_d'europa                    42 non-null     int64
 5   africa                            42 non-null     int64
 6   america_del_nord_i_central        42 non-null     int64
 7   america_del_sud                   42 non-null     int64
 8   asia_i_oceania                    42 non-null     int64
 9   total                             42 non-null     int64
 10  espanyola_pct                     42 non-null     float64
 11  espanyola_ratio                   42 non-null     float64
 12  resta_ue_pct                      42 non-null     float64
 13  resta_ue_ratio                    42 non-null     float64
 14  resta_d'europa_pct                42 non-null     float64
 15  resta_d'europa_ratio              42 non-null     float64
 16  africa_pct                        42 non-null     float64
 17  africa_ratio                      42 non-null     float64
 18  america_del_nord_i_central_pct    42 non-null     float64
 19  america_del_nord_i_central_ratio  42 non-null     float64
 20  america_del_sud_pct               42 non-null     float64
 21  america_del_sud_ratio             42 non-null     float64
 22  asia_i_oceania_pct                42 non-null     float64
 23  asia_i_oceania_ratio              42 non-null     float64
dtypes: float64(14), int64(9), object(1)
memory usage: 8.0+ KB

None

Info Dataset df_poblacio_nacionalitat_2020:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 24 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   codi                              42 non-null     int64
 1   comarca                           42 non-null     object
 2   espanyola                         42 non-null     int64
 3   resta_ue                          42 non-null     int64
 4   resta_d'europa                    42 non-null     int64
 5   africa                            42 non-null     int64
 6   america_del_nord_i_central        42 non-null     int64
 7   america_del_sud                   42 non-null     int64
 8   asia_i_oceania                    42 non-null     int64
 9   total                             42 non-null     int64
 10  espanyola_pct                     42 non-null     float64
 11  espanyola_ratio                   42 non-null     float64
 12  resta_ue_pct                      42 non-null     float64
 13  resta_ue_ratio                    42 non-null     float64
 14  resta_d'europa_pct                42 non-null     float64
 15  resta_d'europa_ratio              42 non-null     float64
 16  africa_pct                        42 non-null     float64
 17  africa_ratio                      42 non-null     float64
 18  america_del_nord_i_central_pct    42 non-null     float64
 19  america_del_nord_i_central_ratio  42 non-null     float64
 20  america_del_sud_pct               42 non-null     float64
 21  america_del_sud_ratio             42 non-null     float64
 22  asia_i_oceania_pct                42 non-null     float64
 23  asia_i_oceania_ratio              42 non-null     float64
dtypes: float64(14), int64(9), object(1)
memory usage: 8.0+ KB

None

Info Dataset df_poblacio_nacionalitat_2019:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 24 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   codi                              42 non-null     int64
 1   comarca                           42 non-null     object
 2   espanyola                         42 non-null     int64
 3   resta_ue                          42 non-null     int64
 4   resta_d'europa                    42 non-null     int64
 5   africa                            42 non-null     int64
 6   america_del_nord_i_central        42 non-null     int64
 7   america_del_sud                   42 non-null     int64
 8   asia_i_oceania                    42 non-null     int64
 9   total                             42 non-null     int64
 10  espanyola_pct                     42 non-null     float64
 11  espanyola_ratio                   42 non-null     float64
 12  resta_ue_pct                      42 non-null     float64
 13  resta_ue_ratio                    42 non-null     float64
 14  resta_d'europa_pct                42 non-null     float64
 15  resta_d'europa_ratio              42 non-null     float64
 16  africa_pct                        42 non-null     float64
 17  africa_ratio                      42 non-null     float64
 18  america_del_nord_i_central_pct    42 non-null     float64
 19  america_del_nord_i_central_ratio  42 non-null     float64
 20  america_del_sud_pct               42 non-null     float64
 21  america_del_sud_ratio             42 non-null     float64
 22  asia_i_oceania_pct                42 non-null     float64
 23  asia_i_oceania_ratio              42 non-null     float64
dtypes: float64(14), int64(9), object(1)
memory usage: 8.0+ KB

None

Info Dataset df_poblacio_nacionalitat_2018:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 24 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   codi                              42 non-null     int64
 1   comarca                           42 non-null     object
 2   espanyola                         42 non-null     int64
 3   resta_ue                          42 non-null     int64
 4   resta_d'europa                    42 non-null     int64
 5   africa                            42 non-null     int64
 6   america_del_nord_i_central        42 non-null     int64
 7   america_del_sud                   42 non-null     int64
 8   asia_i_oceania                    42 non-null     int64
 9   total                             42 non-null     int64
 10  espanyola_pct                     42 non-null     float64
 11  espanyola_ratio                   42 non-null     float64
 12  resta_ue_pct                      42 non-null     float64
 13  resta_ue_ratio                    42 non-null     float64
 14  resta_d'europa_pct                42 non-null     float64
 15  resta_d'europa_ratio              42 non-null     float64
 16  africa_pct                        42 non-null     float64
 17  africa_ratio                      42 non-null     float64
 18  america_del_nord_i_central_pct    42 non-null     float64
 19  america_del_nord_i_central_ratio  42 non-null     float64
 20  america_del_sud_pct               42 non-null     float64
 21  america_del_sud_ratio             42 non-null     float64
 22  asia_i_oceania_pct                42 non-null     float64
 23  asia_i_oceania_ratio              42 non-null     float64
dtypes: float64(14), int64(9), object(1)
memory usage: 8.0+ KB

None

In [21]:
# Crear una llista de DataFrames amb els seus anys corresponents
datasets = [
    (df_poblacio_nacionalitat_2022, 2022),
    (df_poblacio_nacionalitat_2021, 2021),
    (df_poblacio_nacionalitat_2020, 2020),
    (df_poblacio_nacionalitat_2019, 2019),
    (df_poblacio_nacionalitat_2018, 2018)
]

# Afegir la columna 'any' i concatenar tots els DataFrames
df_poblacio_nacionalitat = pd.concat([df.assign(any=year) for df, year in datasets], ignore_index=True)

# Mostrar la informació final
df_poblacio_nacionalitat

,codi,comarca,espanyola,resta_ue,resta_d'europa,africa,america_del_nord_i_central,america_del_sud,asia_i_oceania,total,...,resta_d'europa_ratio,africa_pct,africa_ratio,america_del_nord_i_central_pct,america_del_nord_i_central_ratio,america_del_sud_pct,america_del_sud_ratio,asia_i_oceania_pct,asia_i_oceania_ratio,any
0,1,alt camp,39463,1320,491,2884,240,741,330,45469,...,0.010799,6.34,0.063428,0.53,0.005278,1.63,0.016297,0.73,0.007258,2022
1,2,alt emporda,108698,10998,2780,13567,2558,4222,1127,143950,...,0.019312,9.42,0.094248,1.78,0.017770,2.93,0.029330,0.78,0.007829,2022
2,3,alt penedes,98944,1801,792,5725,693,2022,833,110810,...,0.007147,5.17,0.051665,0.63,0.006254,1.82,0.018247,0.75,0.007517,2022
3,4,alt urgell,17783,944,301,457,182,668,123,20458,...,0.014713,2.23,0.022338,0.89,0.008896,3.27,0.032652,0.60,0.006012,2022
4,5,alta ribagorca,3473,179,62,140,37,89,9,3989,...,0.015543,3.51,0.035097,0.93,0.009276,2.23,0.022311,0.23,0.002256,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,38,urgell,29881,2187,596,2912,142,351,174,36243,...,0.016445,8.03,0.080347,0.39,0.003918,0.97,0.009685,0.48,0.004801,2018
206,39,aran,8479,865,65,249,73,220,32,9983,...,0.006511,2.49,0.024942,0.73,0.007312,2.20,0.022037,0.32,0.003205,2018
207,40,valles occidental,825191,17718,4083,30560,8182,22203,9968,917905,...,0.004448,3.33,0.033293,0.89,0.008914,2.42,0.024189,1.09,0.010860,2018
208,41,valles oriental,372039,6753,1907,14082,1897,6684,2927,406289,...,0.004694,3.47,0.034660,0.47,0.004669,1.65,0.016451,0.72,0.007204,2018
209,42,moianes,12411,234,54,288,44,234,167,13432,...,0.004020,2.14,0.021441,0.33,0.003276,1.74,0.017421,1.24,0.012433,2018

In [23]:
df_poblacio_nacionalitat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 25 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   codi                              210 non-null    int64
 1   comarca                           210 non-null    object
 2   espanyola                         210 non-null    int64
 3   resta_ue                          210 non-null    int64
 4   resta_d'europa                    210 non-null    int64
 5   africa                            210 non-null    int64
 6   america_del_nord_i_central        210 non-null    int64
 7   america_del_sud                   210 non-null    int64
 8   asia_i_oceania                    210 non-null    int64
 9   total                             210 non-null    int64
 10  espanyola_pct                     210 non-null    float64
 11  espanyola_ratio                   210 non-null    float64
 12  resta_ue_pct                      210 non-null    float64
 13  resta_ue_ratio                    210 non-null    float64
 14  resta_d'europa_pct                210 non-null    float64
 15  resta_d'europa_ratio              210 non-null    float64
 16  africa_pct                        210 non-null    float64
 17  africa_ratio                      210 non-null    float64
 18  america_del_nord_i_central_pct    210 non-null    float64
 19  america_del_nord_i_central_ratio  210 non-null    float64
 20  america_del_sud_pct               210 non-null    float64
 21  america_del_sud_ratio             210 non-null    float64
 22  asia_i_oceania_pct                210 non-null    float64
 23  asia_i_oceania_ratio              210 non-null    float64
 24  any                               210 non-null    int64
dtypes: float64(14), int64(10), object(1)
memory usage: 41.1+ KB

In [25]:
# Convertir la columna 'codi' a tipus string
df_poblacio_nacionalitat['codi'] = df_poblacio_nacionalitat['codi'].apply(lambda x: str(x).zfill(2))
display(df_poblacio_nacionalitat.head())
df_poblacio_nacionalitat.info()

,codi,comarca,espanyola,resta_ue,resta_d'europa,africa,america_del_nord_i_central,america_del_sud,asia_i_oceania,total,...,resta_d'europa_ratio,africa_pct,africa_ratio,america_del_nord_i_central_pct,america_del_nord_i_central_ratio,america_del_sud_pct,america_del_sud_ratio,asia_i_oceania_pct,asia_i_oceania_ratio,any
0,01,alt camp,39463,1320,491,2884,240,741,330,45469,...,0.010799,6.34,0.063428,0.53,0.005278,1.63,0.016297,0.73,0.007258,2022
1,02,alt emporda,108698,10998,2780,13567,2558,4222,1127,143950,...,0.019312,9.42,0.094248,1.78,0.017770,2.93,0.029330,0.78,0.007829,2022
2,03,alt penedes,98944,1801,792,5725,693,2022,833,110810,...,0.007147,5.17,0.051665,0.63,0.006254,1.82,0.018247,0.75,0.007517,2022
3,04,alt urgell,17783,944,301,457,182,668,123,20458,...,0.014713,2.23,0.022338,0.89,0.008896,3.27,0.032652,0.60,0.006012,2022
4,05,alta ribagorca,3473,179,62,140,37,89,9,3989,...,0.015543,3.51,0.035097,0.93,0.009276,2.23,0.022311,0.23,0.002256,2022

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 25 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   codi                              210 non-null    object
 1   comarca                           210 non-null    object
 2   espanyola                         210 non-null    int64
 3   resta_ue                          210 non-null    int64
 4   resta_d'europa                    210 non-null    int64
 5   africa                            210 non-null    int64
 6   america_del_nord_i_central        210 non-null    int64
 7   america_del_sud                   210 non-null    int64
 8   asia_i_oceania                    210 non-null    int64
 9   total                             210 non-null    int64
 10  espanyola_pct                     210 non-null    float64
 11  espanyola_ratio                   210 non-null    float64
 12  resta_ue_pct                      210 non-null    float64
 13  resta_ue_ratio                    210 non-null    float64
 14  resta_d'europa_pct                210 non-null    float64
 15  resta_d'europa_ratio              210 non-null    float64
 16  africa_pct                        210 non-null    float64
 17  africa_ratio                      210 non-null    float64
 18  america_del_nord_i_central_pct    210 non-null    float64
 19  america_del_nord_i_central_ratio  210 non-null    float64
 20  america_del_sud_pct               210 non-null    float64
 21  america_del_sud_ratio             210 non-null    float64
 22  asia_i_oceania_pct                210 non-null    float64
 23  asia_i_oceania_ratio              210 non-null    float64
 24  any                               210 non-null    int64
dtypes: float64(14), int64(9), object(2)
memory usage: 41.1+ KB

In [27]:
df_poblacio_nacionalitat.to_csv('clean_data/df_poblacio_nacionalitat.csv', index=False)