In [17]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import unicodedata
import os
from unidecode import unidecode

In [19]:
df_rfbd_2021 = pd.read_csv('clean_data/2021/df_rfbd.csv', delimiter=',') 
df_rfbd_2020 = pd.read_csv('clean_data/2020/df_rfbd.csv', delimiter=',') 
df_rfbd_2019 = pd.read_csv('clean_data/2019/df_rfbd.csv', delimiter=',') 
df_rfbd_2018 = pd.read_csv('clean_data/2018/df_rfbd.csv', delimiter=',')

In [21]:
datasets = {
    'df_rfbd_2021': df_rfbd_2021,
    'df_rfbd_2020': df_rfbd_2020,
    'df_rfbd_2019': df_rfbd_2019,
    'df_rfbd_2018': df_rfbd_2018,
}

# Iterar sobre el diccionari per mostrar les primeres files de cada dataset
for name, df in datasets.items():
    print(f"Info Dataset {name}:")
    display(df.info()) 
    print("\n")

Info Dataset df_rfbd_2021:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 7 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   codi                                   42 non-null     int64
 1   comarca                                42 non-null     object
 2   recursos._remuneracion_asalariados     42 non-null     int64
 3   recursos._excedente_bruto_explotacion  42 non-null     int64
 4   recursos._prestaciones_sociales        42 non-null     int64
 5   usos._cotizaciones_sociales            42 non-null     int64
 6   usos._impuestos                        42 non-null     int64
dtypes: int64(6), object(1)
memory usage: 2.4+ KB

None

Info Dataset df_rfbd_2020:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 7 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   codi                                   42 non-null     int64
 1   comarca                                42 non-null     object
 2   recursos._remuneracion_asalariados     42 non-null     int64
 3   recursos._excedente_bruto_explotacion  42 non-null     int64
 4   recursos._prestaciones_sociales        42 non-null     int64
 5   usos._cotizaciones_sociales            42 non-null     int64
 6   usos._impuestos                        42 non-null     int64
dtypes: int64(6), object(1)
memory usage: 2.4+ KB

None

Info Dataset df_rfbd_2019:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 7 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   codi                                   42 non-null     int64
 1   comarca                                42 non-null     object
 2   recursos._remuneracion_asalariados     42 non-null     int64
 3   recursos._excedente_bruto_explotacion  42 non-null     int64
 4   recursos._prestaciones_sociales        42 non-null     int64
 5   usos._cotizaciones_sociales            42 non-null     int64
 6   usos._impuestos                        42 non-null     int64
dtypes: int64(6), object(1)
memory usage: 2.4+ KB

None

Info Dataset df_rfbd_2018:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 7 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   codi                                   42 non-null     int64
 1   comarca                                42 non-null     object
 2   recursos._remuneracion_asalariados     42 non-null     int64
 3   recursos._excedente_bruto_explotacion  42 non-null     int64
 4   recursos._prestaciones_sociales        42 non-null     int64
 5   usos._cotizaciones_sociales            42 non-null     int64
 6   usos._impuestos                        42 non-null     int64
dtypes: int64(6), object(1)
memory usage: 2.4+ KB

None

In [23]:
# Crear una llista de DataFrames amb els seus anys corresponents
datasets = [
    (df_rfbd_2021, 2021),
    (df_rfbd_2020, 2020),
    (df_rfbd_2019, 2019),
    (df_rfbd_2018, 2018)
]

# Afegir la columna 'any' i concatenar tots els DataFrames
df_rfbd = pd.concat([df.assign(any=year) for df, year in datasets], ignore_index=True)

# Mostrar la informació final
df_rfbd

,codi,comarca,recursos._remuneracion_asalariados,recursos._excedente_bruto_explotacion,recursos._prestaciones_sociales,usos._cotizaciones_sociales,usos._impuestos,any
0,1,alt camp,593173,173872,240921,179399,96508,2021
1,2,alt emporda,1583386,657018,598935,512052,329330,2021
2,3,alt penedes,1652972,474524,592603,490413,277769,2021
3,4,alt urgell,197416,91423,97949,63921,36509,2021
4,5,alta ribagorca,42647,22887,18521,14839,8501,2021
...,...,...,...,...,...,...,...,...
163,38,urgell,387511,151862,145314,120581,64409,2018
164,39,aran,118819,61535,30922,37889,25219,2018
165,40,valles occidental,13794975,4538318,4061841,3914362,2805098,2018
166,41,valles oriental,5740136,2032496,1719996,1655940,1010689,2018
167,42,moianes,169060,76674,54799,51562,32157,2018

In [25]:
df_rfbd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 8 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   codi                                   168 non-null    int64
 1   comarca                                168 non-null    object
 2   recursos._remuneracion_asalariados     168 non-null    int64
 3   recursos._excedente_bruto_explotacion  168 non-null    int64
 4   recursos._prestaciones_sociales        168 non-null    int64
 5   usos._cotizaciones_sociales            168 non-null    int64
 6   usos._impuestos                        168 non-null    int64
 7   any                                    168 non-null    int64
dtypes: int64(7), object(1)
memory usage: 10.6+ KB

In [27]:
# Convertir la columna 'codi' a tipus string
df_rfbd['codi'] = df_rfbd['codi'].apply(lambda x: str(x).zfill(2))
display(df_rfbd.head())
df_rfbd.info()

,codi,comarca,recursos._remuneracion_asalariados,recursos._excedente_bruto_explotacion,recursos._prestaciones_sociales,usos._cotizaciones_sociales,usos._impuestos,any
0,01,alt camp,593173,173872,240921,179399,96508,2021
1,02,alt emporda,1583386,657018,598935,512052,329330,2021
2,03,alt penedes,1652972,474524,592603,490413,277769,2021
3,04,alt urgell,197416,91423,97949,63921,36509,2021
4,05,alta ribagorca,42647,22887,18521,14839,8501,2021

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 8 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   codi                                   168 non-null    object
 1   comarca                                168 non-null    object
 2   recursos._remuneracion_asalariados     168 non-null    int64
 3   recursos._excedente_bruto_explotacion  168 non-null    int64
 4   recursos._prestaciones_sociales        168 non-null    int64
 5   usos._cotizaciones_sociales            168 non-null    int64
 6   usos._impuestos                        168 non-null    int64
 7   any                                    168 non-null    int64
dtypes: int64(6), object(2)
memory usage: 10.6+ KB

In [29]:
df_rfbd.to_csv('clean_data/df_rfbd.csv', index=False)