In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import unicodedata
import os
from unidecode import unidecode

In [16]:
df_total_repetidors_2022 = pd.read_csv('clean_data/2022/df_total_repetidors.csv', delimiter=',')
df_total_repetidors_2021 = pd.read_csv('clean_data/2021/df_total_repetidors.csv', delimiter=',')

In [18]:
datasets = {
    'df_total_repetidors_2022': df_total_repetidors_2022,
    'df_total_repetidors_2021': df_total_repetidors_2021,
}

# Iterar sobre el diccionari per mostrar les primeres files de cada dataset
for name, df in datasets.items():
    print(f"Info Dataset {name}:")
    display(df.info()) 
    print("\n")

Info Dataset df_total_repetidors_2022:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   codi                41 non-null     int64
 1   comarca             41 non-null     object
 2   total_repetixen     41 non-null     int64
 3   poblacio_estudiant  41 non-null     int64
 4   pct_repetidors      41 non-null     float64
 5   ratio_repetidors    41 non-null     float64
dtypes: float64(2), int64(3), object(1)
memory usage: 2.1+ KB

None

Info Dataset df_total_repetidors_2021:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   codi                41 non-null     int64
 1   comarca             41 non-null     object
 2   total_repetixen     41 non-null     int64
 3   poblacio_estudiant  41 non-null     int64
 4   pct_repetidors      41 non-null     float64
 5   ratio_repetidors    41 non-null     float64
dtypes: float64(2), int64(3), object(1)
memory usage: 2.1+ KB

None

In [20]:
# Crear una llista de DataFrames amb els seus anys corresponents
datasets = [
    (df_total_repetidors_2022, 2022),
    (df_total_repetidors_2021, 2021),
]

# Afegir la columna 'any' i concatenar tots els DataFrames
df_total_repetidors = pd.concat([df.assign(any=year) for df, year in datasets], ignore_index=True)

# Mostrar la informaciÃ³ final
df_total_repetidors

,codi,comarca,total_repetixen,poblacio_estudiant,pct_repetidors,ratio_repetidors,any
0,1,alt camp,125,2090,5.98,0.059809,2022
1,2,alt emporda,339,5896,5.75,0.057497,2022
2,3,alt penedes,241,4900,4.92,0.049184,2022
3,4,alt urgell,50,893,5.60,0.055991,2022
4,5,alta ribagorca,13,195,6.67,0.066667,2022
...,...,...,...,...,...,...,...
77,37,terra alta,5,501,1.00,0.009980,2021
78,38,urgell,65,1727,3.76,0.037638,2021
79,40,valles occidental,1906,46379,4.11,0.041096,2021
80,41,valles oriental,658,19704,3.34,0.033394,2021
81,42,moianes,13,620,2.10,0.020968,2021

In [22]:
df_total_repetidors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   codi                82 non-null     int64
 1   comarca             82 non-null     object
 2   total_repetixen     82 non-null     int64
 3   poblacio_estudiant  82 non-null     int64
 4   pct_repetidors      82 non-null     float64
 5   ratio_repetidors    82 non-null     float64
 6   any                 82 non-null     int64
dtypes: float64(2), int64(4), object(1)
memory usage: 4.6+ KB

In [24]:
# Convertir la columna 'codi' a tipus string
df_total_repetidors['codi'] = df_total_repetidors['codi'].apply(lambda x: str(x).zfill(2))
display(df_total_repetidors.head())
df_total_repetidors.info()

,codi,comarca,total_repetixen,poblacio_estudiant,pct_repetidors,ratio_repetidors,any
0,01,alt camp,125,2090,5.98,0.059809,2022
1,02,alt emporda,339,5896,5.75,0.057497,2022
2,03,alt penedes,241,4900,4.92,0.049184,2022
3,04,alt urgell,50,893,5.60,0.055991,2022
4,05,alta ribagorca,13,195,6.67,0.066667,2022

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   codi                82 non-null     object
 1   comarca             82 non-null     object
 2   total_repetixen     82 non-null     int64
 3   poblacio_estudiant  82 non-null     int64
 4   pct_repetidors      82 non-null     float64
 5   ratio_repetidors    82 non-null     float64
 6   any                 82 non-null     int64
dtypes: float64(2), int64(3), object(2)
memory usage: 4.6+ KB

In [26]:
df_total_repetidors.to_csv('clean_data/df_total_repetidors.csv', index=False)